@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Montserrat:wght@400&display=swap');

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-sans {
    font-family: 'Poppins', 'Montserrat', sans-serif;
}
